#start{
	text-align: center;
	margin-top: 40%;
}

#display_more_posts{
	text-align: center;
}

#container {
	/*border: 2px solid black;*/
}

#nav_section {
	height: 30px;
	background: #95A5A6;
	color: white;
}

#login_box {
	display: block;
	float: right;
	margin: 4px 10px 0;
}

#login_box span {
	color: white;
	margin: 0 0 0 8px;
}

#logged_in span {
	margin: 0 0 0 10px;
}

#logged_in i:hover {
	text-decoration: underline;
	/*color: #F39C12;*/
}

.fa-pencil-square-o {
	font-size: 1.2em;
}

#logo {
	display: block;
	float: left;
	margin: 4px 0 0 10px;
}

#logo a {
	font-family: 'Myriad Pro';
	color: white;
	font-size: 1.2em;
}

#login_box a {
	font-size: .9em;
	font-family: 'Myriad Pro';
	color: white;
	font-weight: bold;
	margin: 0 0 0 10px;
}

.page_title {
	margin: 12px 0 10px;
	text-align: center;
}