body {
	font-family: 'Myriad Pro';
}

#start{
	text-align: center;
	margin-top: 40%;
}

#display_more_posts{
	text-align: center;
}

#container {
	/*border: 2px solid black;*/
}

nav {
	height: 75px;
	background: #93B1C6;
	border-bottom: 1px solid #558188;
	color: white;
}

#login_box {
	display: block;
	float: right;
	margin: 25px 25px 0;
}

#login_box span {
	color: white;
	margin: 0 0 0 8px;
}

#logged_in span {
	margin: 0 0 0 10px;
}

#logged_in i:hover {
	text-decoration: underline;
	/*color: #F39C12;*/
}

.fa-pencil-square-o {
	font-size: 1.2em;
}

#logo {
	height: 75px;
	width: 95px;
	display: block;
	float: left;
	/*background: #34495E;*/
}

#logo_container {
	margin: 23px 25px;
}

#logo a {
	font-family: 'Myriad Pro';
	color: white;
	font-size: 1.3em;
}

#login_box a {
	font-size: .9em;
	font-family: 'Myriad Pro';
	color: white;
	font-weight: bold;
	margin: 0 0 0 10px;
}

#nav_section {
	display: block;
	font-family: 'Myriad Pro';
	float: left;
	font-size: .9em;
}

ul#nav_bar {
	padding-left: 0;
	margin: 28px 0 0 0;
	display: inline;
	float: left;
}

nav li {
	display: block;
	float: left;
}

nav li a {
	text-decoration: none;
	color: white;
	font-family: 'Myriad Pro';
	margin: 0 10px 0 10px;
	font-size: 1.1em;
}

nav li a:hover {
	text-decoration: underline;
	color: white;
}

.page_title {
	margin: 12px 0 10px;
	text-align: center;
}