.center_section {
	width: 98.5%;
	display: block;
	margin: auto;
	margin-top: 25px;
	border-radius: 3px;
}

.post_section {
	width: 100%;
	background: rgba(0,0,0,.03);
	border: 1px solid rgba(0,0,0,.05);
	display: inline-block;
	border-radius: 5px;
	margin: 0 0 25px;
}

.comment_form_section {
	display: block;
	clear: both;
	margin: 25px;
}

.form_div {
	width: 93%;
	display: block;
	float: left;
	margin: 0 20px 0 0
}

.left_section {
	display: inline-block;
	float: left;
	margin: 25px;
}

.right_section p {
	margin: 0 25px 30px 0;
	line-height: 1.9em;
	font-size: 1.1em;
}

.user_comment_section {
	width: 98.5%;
	display: block;
	margin: auto;
	margin-top: 25px;
	border-radius: 3px;
}

.comment_list {
	margin: 0 0 20px;
}

#remove_button {
	display: block;
	float: left;
	margin: 0 10px 0 0;
}

#edit_button {
	display: block;
	float: left;
}

#article_date {
	margin: 0 10px 0 0;
}

#date_author_divider {
	margin: 0 10px 0 0;
}

#article_author {
	margin: 0 10px 0 0;
}

.tags {
	font-weight: bold;
	font-size: 1.1em;
	font-style: italic;
}

.tag_span {
	margin: 0 7px 0 0;
}






