<h1 class="page_title">Create User Page</h1>

<form action="/user/create" method="post">
	<input class="form-control" type="text" name="user[username]" placeholder="username">
	<br>
	<input class="form-control" type="text" name="user[email]" placeholder="email">
	<br>
	<input class="form-control" type="password" name="user[password]" placeholder="password">  <br>

	<input class="btn btn-info" type="submit" value="Create my account!">
</form>
