<h1 class="page_title">Login Page</h1>

<form role="form" action="/login" method="post">
	<input class="form-control" type="text" name="user[username]" placeholder="username">
	<br>
	<input class="form-control" type="password" name="user[password]" placeholder="password">
	<br>
	<input class="btn btn-info" type="submit" value="Login!">
</form>